/* Global (non-module) styles for <Container /> */

[data-app="frontend"] .container {
  width: 100%;
  max-width: 100rem; /* 1600px */
  margin-left: auto;
  margin-right: auto;
  padding-inline: clamp(1.25rem, 4vw, 5rem); /* up to ~80px on large screens */
}


